# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo
ft_nm2
.gitignore
nm_tester/readme.md
nm_tester/run
nm_tester/img/manda.png
nm_tester/img/memory.png
nm_tester/img/usage.png
nm_tester/ressources/anti-ptrace-i386
nm_tester/ressources/breakpoint_detection-i386
nm_tester/ressources/containers
nm_tester/ressources/dynamic_jump-i386
nm_tester/ressources/elf-Haiku-GCC2-ls
nm_tester/ressources/elf-Haiku-GCC7-WebPositive
nm_tester/ressources/elf-NetBSD-x86_64-echo
nm_tester/ressources/elf-solaris-x86-ls
nm_tester/ressources/exotic_instructions-i386
nm_tester/ressources/ft_ping
nm_tester/ressources/ircserv
nm_tester/ressources/packer-i386
nm_tester/ressources/pc_manipulation-i386
nm_tester/ressources/readelf
nm_tester/ressources/self-modifying_code-i386
nm_tester/ressources/stack-buffer-overflow-i386
nm_tester/ressources/very_long_func_name
nm_tester/srcs/ls
nm_tester/srcs/test_bonus.sh
nm_tester/srcs/test_mandatory.sh
nm_tester/srcs/test_memory.sh
nm_tester/srcs/tests_bonus.txt
nm_tester/srcs/tests_parsing.txt
nm_tester/srcs/trigger_errors.sh
nm_tester/srcs/trigger_errors.txt
